.card {
  margin: 2%;
  height: 100%;
  width: 100%;
}

.meal-image {
  width: 20vw;
  height: 10vw;
  object-fit: cover;
}

.meal-image-effect:hover {
  filter: brightness(94%);
  transform: scale(1.05);
  transition: filter 0.4s, transform 0.4s;
}

.wrapper-new1,
.wrapper-new2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

h6 {
  font-weight: bold !important;
}

.span-white {
  background: #ff6877;
  border-radius: 15%;
  padding: 7px;
  color: #fff;
  font-weight: 600;
}

.btn-red {
  color: #fff !important;
  background-color: #ff6877 !important;
  border-color: #ff6877 !important;
  margin-top: 1rem;
  display: block;
  width: 100%;
}